@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Shadows+Into+Light&display=swap");

@import "reset.css";
@import "variables.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";

body {
  color: #2e363e;
  font-family: "Permanent Marker", "Shadows Into Light";
  height: 1000vh;
}
